/*paralax*/
.parallax2-body{
	margin: 0;
	padding: 0;
	width: 100%;
	background: black;
	overflow: hidden;
	scroll-behavior: smooth;
}

.parallax2-container{
	position: relative;
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.parallax2-container .parallax2-section{
	position: relative;
	width: 100%;
	height: 100vh;
	scroll-snap-align: start;
	justify-content: center;
	align-items: center;
	background: transparent;
	overflow: hidden;
}

.parallax2-container .parallax2-section:nth-child(1){
	background-size: cover;
	background-position: center 20%;
	background-attachment: fixed;
	background-repeat: no-repeat;

	background-image: url("https://ik.imagekit.io/9nwcjxetq/Images/tr:w-800/b7.png");
  background-image: -webkit-image-set(
    url("https://ik.imagekit.io/9nwcjxetq/Images/tr:w-400/b7.png") 400w,
    url("https://ik.imagekit.io/9nwcjxetq/Images/tr:w-800/b7.png") 800w,
    url("https://ik.imagekit.io/9nwcjxetq/Images/tr:w-1200/b7.png") 1200w,
    url("https://ik.imagekit.io/9nwcjxetq/Images/tr:w-1600/b7.png") 1600w,
    url("https://ik.imagekit.io/9nwcjxetq/Images/tr:w-2000/b7.png") 2000w,
    url("https://ik.imagekit.io/9nwcjxetq/Images/tr:w-2400/b7.png") 2400w
  );
}

.parallax2-container .parallax2-section:nth-child(2){
	background-size: cover;
	background-position: center 40%;
	background-attachment: fixed;
	background-repeat: no-repeat;

	background-image: url("https://ik.imagekit.io/9nwcjxetq/Images/tr:w-800/b7.png");
  background-image: -webkit-image-set(
    url("https://ik.imagekit.io/9nwcjxetq/Images/tr:w-400/b7.png") 400w,
    url("https://ik.imagekit.io/9nwcjxetq/Images/tr:w-800/b7.png") 800w,
    url("https://ik.imagekit.io/9nwcjxetq/Images/tr:w-1200/b7.png") 1200w,
    url("https://ik.imagekit.io/9nwcjxetq/Images/tr:w-1600/b7.png") 1600w,
    url("https://ik.imagekit.io/9nwcjxetq/Images/tr:w-2000/b7.png") 2000w,
    url("https://ik.imagekit.io/9nwcjxetq/Images/tr:w-2400/b7.png") 2400w
  );
}

.parallax2-container .parallax2-section:nth-child(3){
	background-size: cover;
	background-position: center 60%;
	background-attachment: fixed;
	background-repeat: no-repeat;

	background-image: url("https://ik.imagekit.io/9nwcjxetq/Images/tr:w-800/b7.png");
  background-image: -webkit-image-set(
    url("https://ik.imagekit.io/9nwcjxetq/Images/tr:w-400/b7.png") 400w,
    url("https://ik.imagekit.io/9nwcjxetq/Images/tr:w-800/b7.png") 800w,
    url("https://ik.imagekit.io/9nwcjxetq/Images/tr:w-1200/b7.png") 1200w,
    url("https://ik.imagekit.io/9nwcjxetq/Images/tr:w-1600/b7.png") 1600w,
    url("https://ik.imagekit.io/9nwcjxetq/Images/tr:w-2000/b7.png") 2000w,
    url("https://ik.imagekit.io/9nwcjxetq/Images/tr:w-2400/b7.png") 2400w
  );
}

.parallax2-container .parallax2-section:nth-child(4){
	background-size: cover;
	background-position: center 80%;
	background-attachment: fixed;
	background-repeat: no-repeat;

	background-image: url("https://ik.imagekit.io/9nwcjxetq/Images/tr:w-800/b7.png");
  background-image: -webkit-image-set(
    url("https://ik.imagekit.io/9nwcjxetq/Images/tr:w-400/b7.png") 400w,
    url("https://ik.imagekit.io/9nwcjxetq/Images/tr:w-800/b7.png") 800w,
    url("https://ik.imagekit.io/9nwcjxetq/Images/tr:w-1200/b7.png") 1200w,
    url("https://ik.imagekit.io/9nwcjxetq/Images/tr:w-1600/b7.png") 1600w,
    url("https://ik.imagekit.io/9nwcjxetq/Images/tr:w-2000/b7.png") 2000w,
    url("https://ik.imagekit.io/9nwcjxetq/Images/tr:w-2400/b7.png") 2400w
  );
}

#beachSec3{
	display: grid;
	grid-template-columns: 1fr 3fr 3fr 1fr;
}

#beachSec5,#beachSec4{
	display: grid;
	grid-template-columns: 1.5fr 5fr 5fr 1fr;
}

#beachText{
	grid-column-start: 2;
  grid-column-end: 2;
	position: relative;
	color: white;
	font-size: 10rem;
	background: transparent;
	top:0%;
}

#beachText3{
	grid-column-start: 2;
  grid-column-end: 2;
	position:relative;
	color:white;
	background: transparent;
	display: grid;
}

#beachText4, #beachText5{
	grid-column-start: 2;
  grid-column-end: 2;
	position: relative;
	color: white;
	background: transparent;
	display: grid;
	top:18.5%;
}

#beachText3 h3,#beachText4 h3,#beachText5 h3{
	font-size: 10rem;
	background: transparent;
	opacity: 0;
	transform: translateY(70%);
}

#beachText3 p,#beachText4 p,#beachText5 p{
	padding-top: 2rem;
	font-size: 2rem;
	background: transparent;
	opacity: 0;
	transform: translateY(70%);
}

#beachDesc{
	grid-column-start: 3;
  grid-column-end: 3;
	position: relative;
	color: white;
	background: transparent;
	display: grid;
	justify-content: flex-end;
	align-items: center;
	top:0%;
	transform: translateY(50%);
	opacity: 0;
}

#beachDesc h2,ul,li{
	padding: 0.2rem;
	background: transparent;
}

#phoneDesc li{
	cursor: pointer;
	list-style: none;
}

#beachDiv2{
	grid-column-start: 3;
  grid-column-end: 3;
	opacity: 0;
	background: transparent;
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
  align-items: center;
  z-index:1;
}

.content4{
  position: relative;
  width: 22rem;
  height: 45rem;
  z-index:1;
}

.overlayBea{
	position: relative;
	height:95%;
	width: 95%;
	background: black;
	overflow: hidden;
	z-index: 3;
	display: flex;
}

#beach1{
	position: absolute;
  top: -2%;
  left: -3%;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 4;
}

#beach2{
	position: absolute;
	height:auto;
	width: 100%;
	display: flex;
	z-index:1;
}

#beachDiv3,#beachDiv4{
	 grid-column-start: 3;
  grid-column-end: 3;
	opacity: 0;
	background: transparent;
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
  align-items: center;
  z-index:1;
}

.content5,.content6{
  position: relative;
  width: 90rem;
  height: 48rem;
  z-index:1;
}

#b3{
	position: absolute;
	height:80%;
	width: auto;
	background: transparent;
	top:12%;
	left:-150%;
	z-index: 1;
	animation: animateS 5s linear infinite;
}

#b4{
	position: absolute;
	height:auto;
	width: 100%;
	background: transparent;
	top:26%;
	left:3%;
	z-index: 1;
	animation: animateS 5s linear infinite;
}

.overlayBeach,.overlayBeach2{
	position: relative;
	height:90%;
	width: 76%;
	left: 12%;
	background: black;
	overflow: hidden;
	z-index: 3;
	display: flex;
}

#bea1,#bea5{
	position: absolute;
  top: -2%;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 4;
}

#bea2,#bea6{
	position: absolute;
	height:auto;
	width: 100%;
	display: flex;
	z-index:1;
}

/*loader*/
.contLoader{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  position:relative;
  background: transparent;
  width: 100%;
  height: 100vh;
}

.contLoader span{
  text-transform: uppercase;
}

.contLoader .text-wrapper1{
  font-weight: bold;
  background: #71797E -webkit-gradient(linear, left top, right top, from(#71797E), 
    to(#71797E), color-stop(0.5, #fff)) 0 0 no-repeat;
  background-size: 300px;
  color: rgba(255, 255, 255, 0.3);
  -webkit-background-clip: text;
	animation: animate8 8s ease-in-out 1.5s infinite;
  font-size: 10rem;
	cursor:pointer;
}

@media (max-width: 1700px) {
  .contLoader .text-wrapper1 {
    font-size: 9rem;
  }
}
@media (max-width: 1500px) {
  .contLoader .text-wrapper1 {
    font-size: 8rem;
  }
}
@media (max-width: 1300px) {
  .contLoader .text-wrapper1 {
    font-size: 7rem;
  }
}
@media (max-width: 1100px) {
  .contLoader .text-wrapper1 {
    font-size: 6rem;
  }
}
@media (max-width: 900px) {
  .contLoader .text-wrapper1 {
    font-size: 5rem;
  }
}
@media (max-width: 700px) {
  .contLoader .text-wrapper1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 500px) {
  .contLoader .text-wrapper1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 400px) {
  .contLoader .text-wrapper1 {
    font-size: 2rem;
  }
}

@keyframes animate8{
  0%{
    background-position: top left;
  }
  100%{
    background-position: top right;
  }
}

/*LInks*/
.links1{
  z-index:10;
  display: grid;
  width: auto;
  position:fixed;
  bottom: 0;
  right: 1rem;
  padding: 2rem;
  list-style: none;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.links2{
  display: grid;
  width: auto;
  position:absolute;
  bottom: 0;
  left: 0%;
  padding: 2rem;
  list-style: none;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.links1 a{
  background: transparent;
} 

.links1 i{
  margin: 0.8rem 0;
  background: transparent;
  color: #f6f6f6;
}

.links1 p,.links2 p{
  border: 1px solid #f6f6f6;
  height: 7rem;
  width: 0;
  margin-top: 0.8rem;
  margin-left: 0.5rem;
  background: transparent;
}

.links2 li{
  color: #f6f6f6;
  font-size: 1.1rem;
  text-decoration: none;
  list-style: none;
  margin: 0.8rem 0;
} 

.links2 ul{
  padding: 0;
  margin-left: 0.5rem;
  margin-bottom: 0;
} 

@keyframes animateS{
	0% {transform:translateY(0px)}
	50% {transform:translateY(10px)}
	100% {transform:translateY(0px)}
}

@media (max-width: 1440px) {
  .links1, .links2 {
  	padding-bottom: 0.5rem !important;
  }
  .links1 i{
	  margin: 0.6rem 0 !important;
  	font-size: 1rem !important;
	}
	.links2 li{
	  margin: 0.4rem 0 !important;
  	font-size: 1rem !important;
	}
	.links2 li:nth-child(1){
	  font-size: 1.2rem !important;
	} 

  .links1 p,.links2 p{
  	height: 5rem !important;
	}
}
@media (max-width: 1024px) {
  .links1 i{
	  margin: 0.5rem 0 !important;
  	font-size: 0.8rem !important;
	}
	.links2 li{
	  margin: 0.3rem 0 !important;
  	font-size: 0.8rem !important;
	}
	.links2 li:nth-child(1){
	  font-size: 1rem !important;
	} 

  .links1 p,.links2 p{
  	height: 4rem !important;
  	margin-top: 0.6rem !important;
  	margin-left: 0.3rem !important;
	}
	.links2 ul{
	  margin-left: 0.3rem;
	} 
}
@media (max-width: 425px) {
  .links1 i{
	  margin: 0.3rem 0 !important;
  	font-size: 0.6rem !important;
	}
	.links2 li{
	  margin: 0.3rem 0 !important;
  	font-size: 0.6rem !important;
	}
	.links2 li:nth-child(1){
	  font-size: 0.8rem !important;
	} 

  .links1 p,.links2 p{
  	height: 3rem !important;
	}
}

/*Responsive*/

/*Slide3*/
@media (max-width: 2200px) {
  #beachText3 h3 {
    font-size: 9rem;
  }
  #beachText3 p{
		font-size: 2rem;
	}
	.content4{
	  width: 19rem;
	  height: 40rem;
	}
	#b3{
		height:80%;
		top:12%;
		left:-180%;
	}
}
@media (max-width: 1500px) {
  #beachText3 h3 {
    font-size: 7rem;
  }
  #beachText3 p{
		font-size: 1.8rem;
	}
	.content4{
	  width: 18rem;
	  height: 38rem;
	}
	#b3{
		height:80%;
		top:12%;
		left:-180%;
	}
}
@media (max-width: 1200px) {
	#beachSec3{
		grid-template-columns: 0.5fr 3fr 3fr 0.5fr;
	}
  #beachText3 h3 {
    font-size: 6rem;
  }
  #beachText3 p{
		font-size: 1.6rem;
	}
	.content4{
	  width: 16rem;
	  height: 33rem;
	}
	#b3{
		height:80%;
		top:12%;
		left:-180%;
	}
}
@media (max-width: 1000px) {
  #beachText3 h3 {
    font-size: 5rem;
  }
  #beachText3 p{
		font-size: 1.4rem;
	}
	.content4{
	  width: 15rem;
	  height: 31rem;
	}
	#b3{
		height:80%;
		top:12%;
		left:-180%;
	}
}
@media (max-width: 850px) {
	#beachSec3{
		display: grid;
		grid-template-columns: 0.5fr 5fr 0.5fr;
		grid-template-rows: 1.2fr 2.2fr 1fr 1.5fr;
	}
	#beachText3{
		text-align: center;
	 	grid-column-start: 2;
  	grid-column-end: 2;
  	grid-row-start: 2;
  	grid-row-end: 2;
	}

  #beachText3 h3 {
    font-size: 3rem;
  }
  #beachText3 p{
  	padding-top: 0.8rem;
		font-size: 1.2rem;
	}

	#beachDiv2{
		grid-column-start: 2;
  	grid-column-end: 2;
  	grid-row-start: 3;
  	grid-row-end: 3;
	}
	.content4{
	  width: 11rem;
	  height: 23rem;
	}
	#b3{
		height:80%;
		top:12%;
		left:-140%;
	}
}
@media (max-width: 550px) {
	#beachSec3{
		grid-template-rows: 1.5fr 2fr 1fr 1.5fr;
	}

  #beachText3 h3 {
    font-size: 2.8rem;
  }
  #beachText3 p{
		font-size: 1.1rem;
		padding-top: 0.8rem;
	}
	.content4{
	  width: 9rem;
	  height: 19rem;
	}
}
@media (max-width: 430px) {
	#beachSec3{
		grid-template-rows: 1.5fr 2fr 1fr 1.5fr;
	} 

	#beachText3 h3 {
    font-size: 2.3rem;
  }
  #beachText3 p{
		font-size: 1rem;
	}
	.content4{
	  width: 7rem;
	  height: 14rem;
	}
}

/*Slide4,5*/
@media (min-width: 2500px) {
	#beachSec4,#beachSec5{
		display: grid;
		grid-template-columns: 2fr 5fr 5fr 2fr;
	}
}

@media (max-width: 2499px) {
	#beachSec4,#beachSec5{
		display: grid;
		grid-template-columns: 1.5fr 5fr 5fr 1fr;
	}
}

@media (max-width: 2250px) {
	#beachSec4,#beachSec5{
		display: grid;
		grid-template-columns: 1fr 5fr 5fr 1fr;
	}
  #beachText4 h3,#beachText5 h3 {
    font-size: 9rem;
  }
  #beachText4 p,#beachText5 p{
		font-size: 2rem;
	}
	.content5,.content6{
	  width: 80rem;
	  height: 45rem;
	}
}
@media (max-width: 2000px) {
  #beachText4 h3,#beachText5 h3  {
    font-size: 8rem;
  }
  #beachText4 p,#beachText5 p{
		font-size: 1.8rem;
	}
	.content5,.content6{
	  width: 72rem;
	  height: 40rem;
	}
}

@media (max-width: 1850px) {
  #beachText4 h3,#beachText5 h3{
    font-size: 7rem;
  }
  #beachText4 p,#beachText5 p{
		font-size: 1.6rem;
	}
	.content5,.content6{
	  width: 68rem;
	  height: 37rem;
	}
}

@media (max-width: 1600px) {
  #beachText4 h3,#beachText5 h3{
    font-size: 6rem;
  }
  #beachText4 p,#beachText5 p{
		font-size: 1.3rem;
	}
	.content5,.content6{
	  width: 62rem;
	  height: 35rem;
	}
}

@media (max-width: 1400px) {
	#beachText4 h3,#beachText5 h3{
    font-size: 5rem;
  }
  #beachText4 p,#beachText5 p{
		font-size: 1.3rem;
	}
	.content5,.content6{
	  width: 54rem;
	  height: 32rem;
	}
	#b4{
		top:35%;
		left:3%;
	}
}
@media (max-width: 1250px) {
	#beachSec4,#beachSec5{
		display: grid;
		grid-template-columns: 0.5fr 5fr 0.5fr;
		grid-template-rows: 3.5fr 5fr 1fr;
	}
	#beachText4,#beachText5{
		text-align: center;
	 	grid-column-start: 2;
  	grid-column-end: 2;
  	grid-row-start: 1;
  	grid-row-end: 1;
	}

	#beachDiv3,#beachDiv4{
		grid-column-start: 2;
  	grid-column-end: 2;
  	grid-row-start: 2;
  	grid-row-end: 2;
	}

	#beachText4 h3,#beachText5 h3{
    font-size: 5rem;
  }
  #beachText4 p,#beachText5 p{
  	padding-top: 1rem;
		font-size: 1.3rem;
	}
	.content5,.content6{
	  width: 48rem;
	  height: 28rem;
	}
}
@media (max-width: 950px) {
	#beachSec4,#beachSec5{
		grid-template-rows: 3.5fr 3fr 1.5fr;
	}
	#beachText4 h3,#beachText5 h3{
    font-size: 4rem;
  }
  #beachText4 p,#beachText5 p{
  	padding-top: 0.8rem;
		font-size: 1.2rem;
	}
	.content5,.content6{
	  width: 42rem;
	  height: 24rem;
	}
}

@media (max-width: 800px) {
	#beachSec4,#beachSec5{
		grid-template-columns: 1.5fr 5fr 1.5fr;
		grid-template-rows: 3.5fr 2fr 2fr;
	}
	#beachText4 h3,#beachText5 h3{
    font-size: 3.5rem;
  }
  #beachText4 p,#beachText5 p{
  	padding-top: 0.6rem;
		font-size: 1.1rem;
	}
	.content5,.content6{
	  width: 36rem;
	  height: 20rem;
	}
}
@media (max-width: 700px) {
	#beachSec4,#beachSec5{
		grid-template-columns: 1.5fr 5fr 1.5fr;
		grid-template-rows: 5fr 2fr 2.5fr;
	}
	#beachText4 h3,#beachText5 h3{
    font-size: 3rem;
  }
  #beachText4 p,#beachText5 p{
  	padding-top: 0.6rem;
		font-size: 1rem;
	}
	.content5,.content6{
	  width: 30rem;
	  height: 17rem;
	}
}
@media (max-width: 600px) {
	#beachSec4,#beachSec5{
		grid-template-columns: 1.5fr 5fr 1.5fr;
		grid-template-rows: 5fr 1fr 2.5fr;
	}
  #beachText4 p,#beachText5 p{
  	padding-top: 0.6rem;
		font-size: 1rem;
	}
	.content5,.content6{
	  width: 24rem;
	  height: 14rem;
	}
}
@media (max-width: 500px) {
	#beachSec4,#beachSec5{
		grid-template-rows: 5fr 1fr 4fr;
	}
	#beachText4 h3,#beachText5 h3{
    font-size: 2rem;
  }
	.content5,.content6{
	  width: 18rem;
	  height: 11rem;
	}
}
@media (max-width: 400px) {
	#beachSec4,#beachSec5{
		grid-template-rows: 7fr 2fr 3.5fr;
	}
	.content5,.content6{
	  width: 15rem;
	  height: 9rem;
	}
}