.navbar {
  width: auto;
  background: transparent;
}
.nav-min {
  width: auto;
  background: black;
}
.show-nav {
  height: auto;
}
.nav-btn {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: 0.7rem;
  margin-left: 0.5rem;
  color: white;
}

.nav-btn:focus,.nav-btn:hover {
  outline: none;
}
.nav-links1 {
  height: 0;
  display: none;
}
.nav-links{
  overflow: hidden;
  list-style-type: none;
  text-align: center;
  display: block;
  font-family: 'Montserrat', sans-serif;
}
.nav-links li a{
  overflow: hidden;
  text-align: center;
  display: block;
  text-decoration: none;
  cursor: pointer;
  font-size:1.2rem;
  padding: 0.4rem;
  list-style-type: none;
  color: #f6f6f6;
  font-weight: 500;
}
.nav-links li a:hover,.active {
  text-decoration: solid underline white 1px !important;
  text-underline-offset: 10px;
}

/*old*/

.navbarAb,.navbarAb2{
  display: flex;
  width: 60vw;
  height: auto;
  position:fixed;
  top: 0;
  left: 0;
  padding: 2rem;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  z-index: 10;
}

.navbarIc{
  display: grid;
  width: auto;
  height: 10rem;
  position:fixed;
  bottom: 0;
  left: 0;
  padding: 2rem;
  list-style: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.navbarAb li,.navbarAb2 li{
  display: flex;
  justify-content: center;
  align-items: center;
} 

.navbarIc li a, .navbarAb li a{
  color: #f6f6f6;
  font-weight: 500;
  padding: 1.5rem;
  margin: 0.5rem;
  font-size: 1.2rem;
  text-decoration: none;
} 

.navbarAb2 li i{
  color: #f6f6f6;
  padding-right: 0.7rem;
  font-size: 1.5rem;
  text-decoration: none;
  z-index: 10;
  opacity: 1;
} 

.navbarAb2 li a{
  color: #f6f6f6;
  padding-top: 1rem;
  padding-left: 0.3rem;
  font-size: 1.5rem;
  text-decoration: none;
  z-index: 10;
  opacity: 1;
} 


.navbarAb2 li a:hover, .navbarAb li a:hover,.active {
  text-decoration: solid underline white 1px !important;
  text-underline-offset: 13px;
}

@media screen and (max-width: 990px) {

  .nav-btn {
    margin-left: 3.5rem;
  }
}

@media screen and (max-width: 650px) {

  .nav-btn {
    margin-left: 2.5rem;
  }
  .navbarIc{
    padding-left: 1rem !important;
  }
  .nav-links li a{
    font-size:1.1rem;
  }
}

@media screen and (max-width: 500px) {

  .nav-btn {
    font-size: 1.1rem;
    margin-top: 0.7rem;
    margin-left: 1.8rem;
  }
  .navbarIc{
    padding-left: 0.3rem !important;
  }
  .navbarIc li a{
    padding: 1.5rem;
    margin: 0.5rem;
    font-size: 1.1rem;
  } 
}

@media screen and (max-width: 400px) {

  .nav-btn {
    font-size: 1.1rem;
    margin-top: 0.7rem;
    margin-left: 0.8rem;
  }
  .navbarIc{
    padding-left: 0.3rem !important;
  }
  .navbarIc li a{
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.1rem;
  } 
  .nav-links li a{
    font-size:1rem;
  }
}

@media (max-width: 1440px) {
  .navbarAb2{
    padding: 2rem;
  }

  .navbarAb2 li i{
    padding-right: 0.7rem;
    font-size: 1rem;
  } 

  .navbarAb2 li a{
    padding-top: 1rem;
    padding-left: 0.3rem;
    font-size: 1rem;
  } 
}

@media (max-width: 425px) {
  .navbarAb2{
    padding: 2rem;
  }

  .navbarAb2 li i{
    padding-right: 0.7rem;
    font-size: 0.8rem;
  } 

  .navbarAb2 li a{
    padding-top: 1rem;
    padding-left: 0.3rem;
    font-size: 0.8rem;
  } 
}