.preloader-body{
  background-color: black;
}

.preloader{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  filter: url(#gooey);
  overflow: hidden;
  position: relative;
}
.preloader .circles{
  position: relative;
  top: 40%;
  left: 0%;
  transform: translate(-50%,-50%);
  min-width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #fff;
}

.preloader .circles:before{
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 50%;
  background: #fff;
  z-index: -1;
  filter: blur(50px);
}

.preloader .circles.circles1,
.preloader .circles.circles1:before{
  background: linear-gradient(90deg,#F9F5F6,#E4AEC5);
}

.preloader .circles.circles2,
.preloader .circles.circles2:before{
  background: linear-gradient(90deg,#F9F5F6,#D0BFFF);
}

.preloader .circles.circles1{
  animation: anime1 3s linear infinite;
}

@keyframes anime1 {
  0% {transform: translateX(-100px) rotate(0deg);}
  30% {transform: translateX(250px) rotate(240deg);}
  60% {transform: translateX(250px) rotate(480deg);}
  100% {transform: translateX(-100px) rotate(720deg);}
}

.preloader .circles.circles2{
  animation: anime2 3s linear infinite;
}

@keyframes anime2 {
  0% {transform: translateX(100px) rotate(0deg);}
  30% {transform: translateX(-250px) rotate(-240deg);}
  60% {transform: translateX(-250px) rotate(-480deg);}
  100% {transform: translateX(100px) rotate(-720deg);}
}

svg{
  width: 0;
  height: 0;
}

@media screen and (max-width: 550px) {
  .preloader .circles{
    min-width: 150px;
    height: 150px;
  }
  @keyframes anime1 {
    0% {transform: translateX(-30px) rotate(0deg);}
    30% {transform: translateX(200px) rotate(240deg);}
    60% {transform: translateX(200px) rotate(480deg);}
    100% {transform: translateX(-30px) rotate(720deg);}
  }
  @keyframes anime2 {
    0% {transform: translateX(30px) rotate(0deg);}
    30% {transform: translateX(-200px) rotate(-240deg);}
    60% {transform: translateX(-200px) rotate(-480deg);}
    100% {transform: translateX(30px) rotate(-720deg);}
  }
}

@media screen and (max-width: 400px) {
  .preloader .circles{
    min-width: 100px;
    height: 100px;
  }
  @keyframes anime1 {
    0% {transform: translateX(-30px) rotate(0deg);}
    30% {transform: translateX(140px) rotate(240deg);}
    60% {transform: translateX(140px) rotate(480deg);}
    100% {transform: translateX(-30px) rotate(720deg);}
  }
  @keyframes anime2 {
    0% {transform: translateX(30px) rotate(0deg);}
    30% {transform: translateX(-140px) rotate(-240deg);}
    60% {transform: translateX(-140px) rotate(-480deg);}
    100% {transform: translateX(30px) rotate(-720deg);}
  }
}